<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>GOTRIbal Device Registration</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/udid.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
    	<h1>YOU ARE DONE! </h1>
    	<h3> CONGRATULATIONS!!</h3>
    </div>
   <h1>