<html>
<head>
<script language="javascript">
	var setup = false;
  var complete = false;
  
  var redirect = function () {
    var url;
  
    // Specific hash should be considered complete
    //cert_done = window.location.hash == '#ca_done'
    // complete = window.location.hash == '#home'
  
    if (!setup) {
      url = "<%=@base_url%>/udid/start?email=<%=@email%>&fullname=<%=@fullname%>";
      setup = true;
    } else {
      url = "<%=@base_url%>/udid/done";
    }
  
    window.location = url;
  };
  
  window.addEventListener('pageshow', redirect, false);
</script>
</head>
</html>