<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>GOTRIbal Device Registration</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/udid.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-udid" role="form" method="get" action="/udid/step/">
        <h3 class="form-udid-heading">Please enter your name and email address</h3><hr>
        <% if params[:error] %>
        <div class="alert alert-warning">Fullname and Email are required!</div>
        <% end %>
        <input type="text" name="fullname" class="form-control" placeholder="Fullname" required autofocus><br>
        <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Next</button>
      </form>

    </div> 
  </body>
</html>
