<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Active Budz Infographic</title>
<style type="text/css">
<!--
body {
	background-color: #333333;
}
-->
</style>
 <!-- Bootstrap core CSS -->
<link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
<link href="/stylesheets/udid.css" rel="stylesheet">
</head>

<body topmargin="0">
<table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->
  <tr>
    <td width="800" height="298" valign="top"><img src="/images/active_buds1.jpg" alt="Active Budz Infographic" width="800" height="298"></td>
  </tr>
  <tr>
    <td height="300" valign="top"><img src="/images/active_buds2.jpg" alt="Active Budz Infographic" width="800" height="300"></td>
  </tr>
  <tr>
    <td height="300" valign="top"><img src="/images/active_buds3.jpg" alt="Active Budz Infographic" width="800" height="300"></td>
  </tr>
  <tr>
    <td height="300" valign="top"><img src="/images/active_buds4.jpg" alt="Active Budz Infographic" width="800" height="300"></td>
  </tr>
  <tr>
    <td height="300" valign="top"><img src="/images/active_buds5.jpg" alt="Active Budz Infographic" width="800" height="300"></td>
  </tr>
  <tr>
    <td height="300" valign="top"><img src="/images/active_buds6.jpg" alt="Active Budz Infographic" width="800" height="300"></td>
  </tr>
  <tr>
    <td height="110" valign="top"><img src="/images/active_buds7.jpg" alt="Active Budz Infographic" width="800" height="110"></td>
  </tr>
</table>

 <div class="container">

      <form class="form-udid" role="form" method="get" action="/udid/enroll/">
        <input type="hidden" name="fullname" value="<%=@fullname%>"><br>
        <input type="hidden" name="email" value="<%=@email%>"><br>
        <button class="btn btn-block btn-big btn-primary" type="submit">Next</button>
      </form>

    </div> 
</body>
</html>
