<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>*|MC:SUBJECT|*</title>
  </head>
  <body style="width: 100% !important; background-color: #47433B; margin: 0; padding: 0;" bgcolor="#47433B"><style type="text/css">
#button a:visited { color: #FEFDD7 !important; font-family: Helvetica !important; font-size: 18px !important; font-weight: bold !important; line-height: 150% !important; text-decoration: none !important; }
#templateBody a:visited { color: #C2C2B4 !important; font-weight: normal !important; text-decoration: underline !important; }
#templateBody a:visited { color: #FEFDD7 !important; font-weight: normal !important; text-decoration: underline !important; }
#social a:visited { color: #64ACB0 !important; font-weight: normal !important; text-decoration: none !important; }
#templateFooter a:visited { color: #838176 !important; font-weight: normal !important; text-decoration: none !important; }
&gt;</style>&#13;
      <center>&#13;
          <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="height: 100%; width: 100%; margin: 0; padding: 0;"><tr><td align="center" valign="top" width="600">&#13;
                      &#13;
                      <table background="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/bg_pattern.1.png" border="0" cellpadding="0" cellspacing="0" width="600"><tr><td align="center" valign="top">&#13;
                                  <table border="0" cellpadding="0" cellspacing="0" width="600"><tr><td align="center" valign="top" width="70" style="background-color: rgba(0, 0, 0, .25);" bgcolor="rgba(0, 0, 0, .25)">&#13;
                                              <table border="0" cellpadding="0" cellspacing="0" width="70" style="color: #93D3D6; font-family: Helvetica; font-size: 30px; font-weight: bold; line-height: 100%;"><tr><td align="center" valign="top">&#13;
                                                          <div style="background-color: #63ABAF;">&#13;
                                                                <br /><br /><br /><div></div>&#13;
                                                            </div>&#13;
                                                            <img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/ribbonbottom.png" style="display: block; outline: none; text-decoration: none; border: none;" /></td>&#13;
                                                    </tr></table></td>&#13;
                                            <td width="20">&#13;
                                              <br /></td>&#13;
                                            <td align="left" valign="top" width="510">&#13;
                                                <br /><br /><br /><table border="0" cellpadding="0" cellspacing="0" width="510"><tr><td colspan="2" valign="top" style="color: #63ABAF; font-family: Helvetica; font-size: 60px; font-weight: bold; line-height: 100%;">&#13;
                                                          <div>You just made it<br />&#13;
so much hotter in here.</div>&#13;
                                                        </td>&#13;
                                                    </tr></table></td>&#13;
                                        </tr><tr><td align="center" valign="middle" width="70" style="background-color: rgba(0, 0, 0, .25);" bgcolor="rgba(0, 0, 0, .25)">&#13;
                                                <img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/icon_event.1.gif" style="display: block; outline: none; text-decoration: none; border: none;" /></td>&#13;
                                            <td width="20">&#13;
                                              <br /></td>&#13;
                                            <td align="left" valign="top" width="510">&#13;
                                              <table border="0" cellpadding="0" cellspacing="0" width="510"><tr><td align="left" valign="top" width="360">&#13;
                                                          <div style="color: #FEFDD7; font-family: Helvetica; font-size: 14px; font-weight: normal; line-height: 100%;"></div>&#13;
                                                            <div style="color: #FEFDD7; font-family: Helvetica; font-size: 30px; font-weight: bold; line-height: 150%;">Thank you for that.</div>&#13;
                                                        </td>&#13;
                                                        <td align="right" valign="middle" width="150">&#13;
                                                          <table border="0" cellpadding="0" cellspacing="0" width="150" style="color: #FEFDD7; font-family: Helvetica; font-size: 18px; font-weight: bold; line-height: 150%; text-decoration: none;"><tr><td align="center" valign="middle" width="50">&#13;
                                                                      <img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/icon_pencil.png" style="display: block; outline: none; text-decoration: none; border: none;" /></td>&#13;
                                                                    <td align="center" valign="middle" width="100" style="background-color: rgba(100, 172, 176, .75);" bgcolor="rgba(100, 172, 176, .75)">&#13;
                                                                      <div><span style="font-family: arial,helvetica neue,helvetica,sans-serif;"><span style="font-size: 11px;">Want to <a href="mailto:info@gotribalnow.com?subject=Why%20I%20downloaded%20Activebudz!" target="_self" style="color: #FEFDD7; font-family: Helvetica; font-size: 18px; font-weight: bold; line-height: 150%; text-decoration: none;">tell us</a> why you joined Activebudz?</span></span></div>&#13;
                                                                    </td>&#13;
                                                                </tr></table></td>&#13;
                                                    </tr></table></td>&#13;
                                        </tr></table></td>&#13;
                            </tr></table></td>&#13;
                </tr><tr><td align="center" valign="top" width="600">&#13;
                      &#13;
                      <table border="0" cellpadding="0" cellspacing="0" width="600" style="color: #C2C2B4; font-family: Helvetica; font-size: 18px; line-height: 150%;"><tr><td align="center" valign="top" width="70" style="background-color: rgba(0, 0, 0, .25);" bgcolor="rgba(0, 0, 0, .25)">&#13;
                                  <br /><img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/icon_info.1.gif" style="display: block; outline: none; text-decoration: none; border: none;" /></td>&#13;
                                <td width="20">&#13;
                                  <br /></td>&#13;
                                <td align="left" valign="top" width="510">&#13;
                                  <br /><div>You may not know this, but there's a lot of peeps happy you joined Activebudz.<br /><strong><u>And so are we.</u></strong><br />&#13;
GOTRIbal (that's us) thanks you for being so delish and joining the tribe of Activebudz people around the planet.<br />&#13;
Now, go Make Some Awesome Happen!<br /><br />&#13;
Tanya <br />&#13;
 </div>&#13;
                                    <br /></td>&#13;
                            </tr><tr><td align="left" colspan="3" valign="top">&#13;
                                <img src="http://gallery.mailchimp.com/e724176b07ec2c042b88ba263/images/la_jolla_image.1.jpg" alt="" border="0" style="height: 450px; width: 600px; max-width: 600px; display: block; outline: none; text-decoration: none; margin: 0; padding: 0; border: none;" width="600" height="450" /></td>&#13;
                            </tr><tr><td align="left" colspan="3" valign="top">&#13;
                                  <table background="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/bg_pattern.1.png" border="0" cellpadding="0" cellspacing="0" width="600" style="color: #FEFDD7; font-size: 24px; font-weight: bold; line-height: 100%;"><tr><td align="center" valign="middle" width="70" style="background-color: rgba(100, 172, 176, .64);" bgcolor="rgba(100, 172, 176, .64)">&#13;
                                                <img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/icon_locator.gif" style="display: block; outline: none; text-decoration: none; border: none;" /></td>&#13;
                                            <td width="20" style="background-color: rgba(100, 172, 176, .75);" bgcolor="rgba(100, 172, 176, .75)">&#13;
                                                <br /></td>&#13;
                                            <td align="left" valign="middle" width="510" style="background-color: rgba(100, 172, 176, .75);" bgcolor="rgba(100, 172, 176, .75)">&#13;
                                              <br /><div><div style="text-align: center;" align="center">GOTRIbal Headquarters and Activebudz-Central.</div>&#13;
</div>&#13;
                                                <br /></td>&#13;
                                        </tr></table></td>&#13;
                            </tr><tr><td align="left" bgcolor="#49514B" colspan="3" valign="top">&#13;
                                  <table border="0" cellpadding="0" cellspacing="0" style="color: #64ACB0; font-size: 13px; line-height: 180%;"><tr><td align="center" valign="middle" width="70" style="background-color: rgba(0, 0, 0, .20);" bgcolor="rgba(0, 0, 0, .20)">&#13;
                                              <img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/icon_share.png" style="display: block; outline: none; text-decoration: none; border: none;" /></td>&#13;
                                            <td width="20">&#13;
                                              <br /></td>&#13;
                                            <td align="left" valign="middle" width="510">&#13;
                                              <br /><table border="0" cellpadding="0" cellspacing="0"><tr><td align="center" valign="middle" width="25">&#13;
                                                          <img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/icon_twitter.5.gif" style="display: block; outline: none; text-decoration: none; border: none;" /></td>&#13;
                                                        <td width="5">&#13;
                                                          <br /></td>&#13;
                                                        <td align="left" valign="middle">&#13;
                                                          <div><a href="http://www.twitter.com/gotribalbaby" target="_blank" style="color: #64ACB0; font-weight: normal; text-decoration: none;">Follow on Twitter</a></div>&#13;
                                                        </td>&#13;
                                                        <td width="15">&#13;
                                                          <br /></td>&#13;
                                                        <td align="center" valign="middle" width="25">&#13;
                                                          <img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/icon_facebook.5.gif" style="display: block; outline: none; text-decoration: none; border: none;" /></td>&#13;
                                                        <td width="5">&#13;
                                                          <br /></td>&#13;
                                                        <td align="left" valign="middle">&#13;
                                                          <div><a href="http://www.facebook.com/gotribal" target="_blank" style="color: #64ACB0; font-weight: normal; text-decoration: none;">Friend on Facebook</a></div>&#13;
                                                        </td>&#13;
                                                        <td width="15">&#13;
                                                          <br /></td>&#13;
                                                        <td align="center" valign="middle" width="25">&#13;
                                                          <img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/icon_forward.5.gif" style="display: block; outline: none; text-decoration: none; border: none;" /></td>&#13;
                                                        <td width="5">&#13;
                                                          <br /></td>&#13;
                                                        <td align="left" valign="middle">&#13;
                                                          <div>&#13;
                                                              <a href="*|FORWARD|*" target="_blank" style="color: #64ACB0; font-weight: normal; text-decoration: none;">Forward to a Friend</a>&#13;
                                                            </div>&#13;
                                                        </td>&#13;
                                                    </tr></table><br /></td>&#13;
                                        </tr></table></td>&#13;
                            </tr></table></td>&#13;
                </tr><tr><td align="center" valign="top" width="600">&#13;
                      &#13;
                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="color: #838176; font-family: Helvetica; font-size: 11px; line-height: 150%;"><tr><td width="70" style="background-color: rgba(0, 0, 0, .25);" bgcolor="rgba(0, 0, 0, .25)">&#13;
                                  <br /></td>&#13;
                                <td width="20">&#13;
                                  <br /></td>&#13;
                                <td align="left" valign="middle" width="510">&#13;
                                  <table border="0" cellpadding="0" cellspacing="0" width="510"><tr><td align="left" valign="bottom">&#13;
                                                <br /><div>Have a question? What are you waiting for!? Email us! <a href="mailto:info@gotribalnow.com?subject=Got%20a%20question%20about%20Activebudz" target="_self" style="color: #838176; font-weight: normal; text-decoration: none;">info@gotribalnow.com</a></div>&#13;
                                            </td>&#13;
                                        </tr><tr><td align="left" valign="top">&#13;
                                              <table border="0" cellpadding="0" cellspacing="0"><tr><td align="center" valign="middle" width="9">&#13;
                                                            <img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/icon_settings.gif" style="display: block; outline: none; text-decoration: none; border: none;" /></td>&#13;
                                                        <td width="5">&#13;
                                                            <br /></td>&#13;
                                                        <td align="left" valign="middle">&#13;
                                                            <div>&#13;
                                                                <a href="*|UPDATE_PROFILE|*" target="_blank" style="color: #838176; font-weight: normal; text-decoration: none;">Edit Subscription Preferences</a>&#13;
                                                            </div>&#13;
                                                        </td>&#13;
                                                        <td width="15">&#13;
                                                            <br /></td>&#13;
                                                        <td align="center" valign="middle" width="9">&#13;
                                                            <img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/icon_unsub.3.gif" style="display: block; outline: none; text-decoration: none; border: none;" /></td>&#13;
                                                        <td width="5">&#13;
                                                            <br /></td>&#13;
                                                        <td align="left" valign="middle">&#13;
                                                            <div>&#13;
                                                                <a href="*|UNSUB|*" target="_blank" style="color: #838176; font-weight: normal; text-decoration: none;">Unsubscribe</a>&#13;
                                                            </div>&#13;
                                                        </td>&#13;
                                                    </tr></table><br /></td>&#13;
                                        </tr></table></td>&#13;
                            </tr><tr><td align="left" colspan="3" valign="top">&#13;
                                  <table background="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/bg_pattern.1.png" border="0" cellpadding="0" cellspacing="0"><tr><td align="center" valign="middle" width="70" style="background-color: rgba(0, 0, 0, .1);" bgcolor="rgba(0, 0, 0, .1)">&#13;
                                                <img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/icon_contact.gif" style="display: block; outline: none; text-decoration: none; border: none;" /></td>&#13;
                                            <td width="20" style="background-color: rgba(255, 255, 255, 0.06);" bgcolor="rgba(255, 255, 255, 0.06)">&#13;
                                                <br /></td>&#13;
                                            <td align="left" valign="middle" width="510" style="background-color: rgba(255, 255, 255, 0.06);" bgcolor="rgba(255, 255, 255, 0.06)">&#13;
                                              <br /><div><br />&#13;
 </div>&#13;
                                                <br /></td>&#13;
                                    </tr></table></td>&#13;
                            </tr></table><br /><br /></td>&#13;
                </tr></table></center>&#13;
    </body>
</html>
