Hello <%= @user.first_name %>,

We have received a password change request for your Activebudz account.

If you made this request, then please click on the link below.

Recover Password ( <%= @password_recovery_url %> )

This link will work for 24 hours or until you reset your password.

If you did not ask to change your password, then please
ignore this email. Another user may have entered your username by
mistake. No changes will be made to your account.

GoTribal Team ( http://www.gotribalnow.com/splash )
