<style>
  .selectbox {
    -webkit-appearance: menulist-button;
    height: 30px;
    min-width: 170px;
  }

  input[type="text"] {
    height: 23px;
    min-width: 160px;
    padding-left: 4px;
  }

  input[type="submit"] {
    height: 28px;
    min-width: 100px;
    padding-left: 4px;
    -webkit-appearance: none;
  }

</style>

<h3>Server Configuration</h3>
<div>
  <pre>
  <%= @config %>
  </pre>
</div>

<h3>Browser</h3>
<div>
  <select id="index-selectbox" class="selectbox">
  <% @indices.each do |index| %>
    <% if @index == index %>
      <option selected value="<%= index %>"><%= index %></option>
    <% else %>
      <option value="<%= index %>"><%= index %></option>
    <% end %>
  <% end %>
  </select>
  <select id="type-selectbox" class="selectbox">
    <% if @types.present? %>
      <% @types.each do |type| %>
        <% if @type == type %>
          <option selected value="<%= type %>"><%= type %></option>
        <% else %>
          <option value="<%= type %>"><%= type %></option>
        <% end %>
      <% end %>
    <% end %>
  </select>
  <input type="submit" id="refresh-button" value="Refresh"></input>
</div>
<div style="margin-top: 10px">
  <select id="key-selectbox" class="selectbox">
    <% if @keys.present? %>
      <% @keys.each do |key| %>
        <% if @key == key %>
          <option selected value="<%= key %>"><%= key %></option>
        <% else %>
          <option value="<%= key %>"><%= key %></option>
        <% end %>
      <% end %>
    <% end %>
  </select>
  <input type="text" id="keyword-text" value="<%= @keyword %>"></input>
  <input type="submit" id="submit-button" value="Search"></input>
</div>
<div style="margin-top: 10px">
  <pre>
total: <%= @results_total %>

<%= @results.to_s if @results.present? %>
  </pre>
</div>
<script src="/javascripts/jquery.min.js"></script>
<script>
  $('#index-selectbox').change(function() {
    index = $(this).val()
    window.location = "?index=" + index
  })
  $('#type-selectbox').change(function() {
    $('#refresh-button').click()
  })
  $('#keyword-text').keyup(function(event) {
    if(event.keyCode == 13) {
      $('#submit-button').click()
    }
  })
  $('#refresh-button').click(function() {
    index = $('#index-selectbox').val()
    type = $('#type-selectbox').val()
    window.location = "?index=" + index + "&type=" + type
  })
  $('#submit-button').click(function() {
    index = $('#index-selectbox').val()
    type = $('#type-selectbox').val()
    key = $('#key-selectbox').val()
    keyword = $('#keyword-text').val()
    window.location = "?index=" + index + "&type=" + type + "&key=" + key + "&keyword=" + keyword
  })
</script>