body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-udid {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-udid .form-udid-heading,
.form-udid .checkbox {
  margin-bottom: 10px;
}
.form-udid .checkbox {
  font-weight: normal;
}
.form-udid .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-udid .form-control:focus {
  z-index: 2;
}
.form-udid input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-udid input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-big {
  padding: 10px 16px;
  font-size: 54px;
  line-height: 1.33;
  border-radius: 6px;
}