<!DOCTYPE html>
<html>
  <head>
  </head>
  <body style="font-family: arial">
    <img style="margin: 0 auto; display:block;" src="<%= URI.join(root_url, image_path('email/icon170x170.png')) %>" />
    <h2 style="text-align: center; font-weight:500; margin-top: 50px; margin-bottom: 70px;">
      You are in DEEE-mand!
    </h2>
    <div style="text-align: center">
     Somebody wants to connect with you on Activebudz!<br/><br/><br/>
     Be nice – respond as quick as you can. 
    </div>
    <div style="text-align: center; margin-top:40px;">
      After all, they ARE asking for your support. You don't want to be a jerk this early do you? 
    </div>
    <div style="text-align:center; margin-top:100px; font-size:0.7em;">
      Have questions? Email us. <a href="mailto: info@gotribalnow.com">Info@gotribalnow.com</a><br/>
      Onward and upward, always.
    </div>
  </body>
</html>