<%= content_for :page_title, 'You\'ve ripped a hole in the fabric of the internet' %>
<%= image_tag '404.jpg', alt: 'Page Not Found (404).', style: 'position: absolute; left: 50%; top: 50%; margin-left: -285px; margin-top: -190px;' %>