

<%= form_for @user, url: {action: "update"}, method: :put, html: {class: "form-udid"} do |f| -%>

	<h3 class="form-udid-heading">Enter a new password</h3><hr/>

	<% if flash[:alert] %> 
		<% flash[:alert].each do |msg| %>
			 <div class="alert alert-warning"><%= msg %></div>
		<% end %>
	<% end %>

	<%= f.password_field :password, class:"form-control", placeholder: "Password", required: true, autofocus: true %>
	<%= f.password_field :password_confirmation, class:"form-control", placeholder: "Password Confirmation", required: true, autofocus: true %>
	<%= submit_tag "Change my password", class: "btn btn-lg btn-primary btn-block" %>
<% end -%>
