<!DOCTYPE html>
<html>
  <head>
  </head>
  <body style="font-family: arial">
    <img style="margin: 0 auto; display:block;" src="<%= URI.join(root_url, image_path('email/icon170x170.png')) %>" />
    <h2 style="text-align: center; font-weight:500; margin-top: 50px; margin-bottom: 70px;">
      <%= @sender_name %> has invited you to try Activebudz
    </h2>
    <div style="text-align: center">
     Don't take this lightly. 
    </div>
    <div style="text-align: center; margin-top:40px;">
      Be nice.<br/>
      Your Activebudz are waiting.<br/>
      Go say thank you.
    </div>
    <a href="https://itunes.apple.com/us/app/activebudz/id656397052?ls=1&mt=8"><img style="margin: 0 auto; display:block;" src="<%= URI.join(root_url, image_path('email/appstore.png')) %>" /></a>
    <div style="text-align:center; margin-top:100px; font-size:0.7em;">
      Have questions? Email us. <a href="mailto: info@gotribalnow.com">Info@gotribalnow.com</a><br/>
      Onward and upward, always.
    </div>
  </body>
</html>